<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hcmunre.apporderfoodserver">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.activities.OrderHistoryActivity"></activity>
        <activity android:name=".views.activities.OrderDetailShipperActivity" />
        <activity android:name=".views.activities.UserInfoActivity" />
        <activity android:name=".views.activities.CategoryActivity" />
        <activity android:name=".views.activities.BarChartActivity" />
        <activity android:name=".views.activities.ShipperMapActivity" />
        <activity android:name=".views.activities.SplashScreenActivity" />
        <activity android:name=".views.activities.ShipperOrderActivity" />
        <activity android:name=".views.activities.HomeShipperActivity" />
        <activity android:name=".views.activities.ShipperActivity" />
        <activity android:name=".views.activities.SignInShipperActivity" />
        <activity
            android:name=".views.activities.LoginAppActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hcmunre.apporderfoodserver.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".views.activities.HomeActivity" />
        <activity android:name=".views.activities.OrderDetailActivity" />
        <activity android:name=".views.activities.SearchActivity" />
        <activity android:name=".views.activities.ForgetPassActivity" />
        <activity android:name=".views.activities.SignUpActivity" />
        <activity android:name=".views.activities.SignInActivity" />
        <activity android:name=".views.activities.ListFoodActivity" />

        <service android:name=".notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver android:name=".notifications.MyFirebaseInstanceIDService" />
    </application>

</manifest>